<h1><%= @tutorial.title %></h1>

<%= link_to "up", vote_path(type: "up" ), remote: true, method: "post", class: "vote" %>
<%= link_to "down", vote_path(type: "down" ), remote: true, method: "post", class: "vote" %>
<span class="total-votes"><%= pluralize(@score, "vote") %></span>
<p><%= @tutorial.content %></p>
