<h1><%= @tutorial.title %></h1>

<%= link_to "up", vote_path(@tutorial, type: "up" ), method: "post" %>
<%= link_to "down", vote_path(@tutorial, type: "down" ), method: "post" %>
<span><%= pluralize(vote_count(@tutorial), "vote") %></span>

<p><%= @tutorial.content %></p>